:root{
    
}
body{
    margin : 0;
    background-color: hsl(237, 40%, 18%);
    color : hsl(0, 0%, 90%);
    padding: 0.5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    $box-color1 : hsl(237, 20%, 28%);

    .temperature, .aspect-value{
        display: none;        
        &.selected-unit{
            display: initial;
        } 
    }
    
    
    .top{
    
        display : grid;
        grid-template-columns: max-content 1fr 0.3fr;
        align-items: center;
        gap: 2rem;
        .title{
            font-size: 2rem;
            vertical-align: middle;
        }
        form{
            //flex : 1;
            display: flex;
            align-items: center;
        
            margin-top: 4px;
            padding : 0;
        
            #search{
                
                width: 100%;
                min-height: 2rem;
                font-size: 1.1rem;
                padding: 0.3rem 0.4rem;
                
                background-color: $box-color1;
                border: none;
                border-radius: 0.3rem;
                color: hsl(195, 10%, 85%);
            }
        }
    }
    
    .unit-switcher{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        align-items: center;
        font-size: 1.8rem;
        font-weight: bold;
        color: white;
        background-color: inherit;
        border: 2px solid white;
        border-radius: 20px;
        width: 75px;
        height: 40px;
        padding: 0.5rem 0.8rem; 
        gap: 5px;
        cursor: pointer;
        
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        &:hover{
            filter: brightness(70%);
        }
    }
    
     

    .middle{
        display: block;
        filter: blur(0) brightness(100%);
        transition: 0.3;
        &.loading{
            filter: blur(50px) brightness(40%);
            transition: 0.2s;
        }
        
        
        .today-left{
            //height: max-content;
            width: 70vw;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 0.5rem;
            margin: 0 auto;
            .current-data{
                padding: 1.3rem 1rem;
                display: flex;
                justify-content: space-between;
                
                .current-left{
                    padding: 1rem 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .location{
                        font-size: 2rem;
                    } 
                    .temperature{          
                        font-size: 3.2rem; 
                        
                        font-family : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;     
                    } 
                }
                .condition-img{
                
                    
                    img{
                        width : 11rem;
                    }
                }
            } 
    
            .hourly-box{
                
                border-radius: 1rem;
                background-color: $box-color1;
                display: flex;
                padding: 0rem 1.4rem;
                flex-direction: column;
                
                
                
                .hourly-items{
                    display: flex;
                    overflow-x: scroll;
                    width: 70vw;
                    text-align: center;
                    scrollbar-width: thin;
                    padding-bottom: 1rem;
                      
                }
                .hourly-item{
                    display: grid;
                    grid-template-rows: 1fr 1.6fr 1fr;
                    align-items: center;
                    justify-content: center;
                    min-width: 6rem;
                    padding: 0 0.8rem;
                    border-right: 2px solid  hsl(237, 10%, 48%);;
                    margin: 1rem 0;
                    .time{
                        font-size : 1.1rem; 
                        font-weight: bold;
                        color: darkgray;
                        align-self: start;
                    }
                    .condition-img{
    
                    }
                    .temperature{
                        font-size : 1.6rem; 
                        font-weight: bold;
                        align-self: end;
                    }
                }
            }
            .air-condition-box{
               
                border-radius: 1rem;
                background-color: $box-color1;
                padding: 0rem 1.4rem;
                padding-bottom: 1rem;
                display: flex;
                flex-direction: column;

                .conditions{
                    flex : 1;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    //column-gap: 40%;
                    //height: 100%;
                    .condition{
                        display: grid;
                        grid-template-columns: 1fr 10fr;
                        grid-template-rows: 1fr 1fr;
                        //justify-items: center;
                        align-items: center;
                        .condition-icon{
                            
                            //align-self: center;
                            img{
                                width: 2rem;
                            }
                            filter: brightness(70%);
                        }
                        .condition-name{
                           // align-self: center;
                           font-size: 1.2rem;
                           filter: brightness(70%);
                        }
                        .aspect-value{
                            font-size: 2rem;
                            font-weight: bold;
                            grid-area:  2/2/3/3;
                        }
                    }
                }


            }
        }
        h5{
            margin-bottom: 0.5rem;
        }
        
          
    
    }    
}
